.sideBarNav {
  flex: 1;
  max-width: 7.5rem;
  padding: 2rem;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0px 12px 6px rgba(0, 0, 0, 0.05);
}

.sideBarNav section a {
  position: relative;
  transition: filter 0.2s;
}

.sideBarNav section a:hover {
  filter: opacity(0.9);
}

.sideBarNav section a.active svg path {
  color: var(--blue-dark);
  opacity: 1 !important;
}

.sideBarNav button {
  border: 0;
  background: transparent;
  transition: filter 0.2s;
}

.sideBarNav button svg:hover {
  filter: brightness(0.85);
}
