.sideBarNavContainer {
  display: flex;
}

.backButton svg {
  position: absolute;
  top: 30px;
  left: 150px;
  transition: all 0.2s;
}

.backButton svg:hover {
  transform: translateX(-4px);
}

.userContainer {
  position: relative;
  height: 100vh;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  background: url("/background-logo.png") no-repeat center;
}

.userInformations {
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.userInformations div {
  height: 100%;
  width: 100%;
}

.userInformations .userMoveitInformations {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.06);
}

.userInformations .userMoveitInformations section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.userInformations .userMoveitInformations section img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.userInformations .userMoveitInformations section div {
  flex: 1;
  padding: 0.5rem;
}

.userInformations .userMoveitInformations section div h2 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: var(--title);
}

.userInformations .userMoveitInformations section div > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: -50px;
}

.userInformations .userMoveitInformations section div > p strong {
  font-size: 1.2rem;
  color: var(--blue-dark);
}

.userInformations .userMoveitInformations section div > p img {
  width: 1.5rem;
}

.userInformations .userMoveitInformations section div h3 {
  margin: 0.5rem 0;
  text-align: center;
  color: var(--blue);
  font-size: 0.9rem;
}

.userInformations .userMoveitInformations section div h4 {
  font-size: 1rem;
  font-weight: 600;
}

.userInformations .userMoveitInformations section div h4 strong {
  color: var(--blue-dark);
}

.userInformations .userMoveitInformations section div h3 small {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}

.userInformations .userGithubInformations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.06);
}

.userInformations .userGithubInformations > section {
  padding: 1rem 0;
}

.userInformations .userGithubInformations > section article {
  text-align: center;
}

.userInformations .userGithubInformations > section article h3 {
  color: var(--title);
  font-size: 1.6rem;
}

.userInformations .userGithubInformations > section article p {
  margin: 0.6rem auto;
  font-size: 1rem;
}

.userInformations .userGithubInformations > section div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.userInformations .userGithubInformations > section div strong {
  font-size: 1.4rem;
}

.userInformations .userGithubInformations > section div strong small {
  color: var(--blue-dark);
  font-size: 1.6rem;
  font-weight: 700;
}

.userInformations .userGithubInformations > section div section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  font-size: 1.2rem;
  color: var(--title);
  font-weight: 700;
}

.userInformations .userGithubInformations > section div section a {
  transition: all 0.2s;
  color: var(--blue);
}

.userInformations .userGithubInformations > section div section a:hover {
  text-decoration: underline;
}

.userRepositories {
  height: calc(100vh - 3rem);
}

@media (min-width: 1400px) {
  .userContainer {
    max-width: 1100px;
  }
}
