.sideBarNavContainer {
  display: flex;
}

.backButton svg {
  position: absolute;
  top: 30px;
  left: 150px;
  transition: all 0.2s;
}

.backButton svg:hover {
  transform: translateX(-4px);
}

.userContainer {
  position: relative;
  height: 100vh;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  background: url("/background-logo.png") no-repeat center;
}

.userInformations {
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.userInformations div {
  height: 100%;
  width: 100%;
}

.userRepositories {
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1400px) {
  .userContainer {
    max-width: 1100px;
  }
}
